# 1. Đọc dữ liệu từ file csv

In [6]:
import pandas as pd
import numpy as np
df=pd.read_csv('FoodPrice_in_Turkey.csv')
# Hiển thị 5 dòng dữ liệu đầu tiên
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

# 2. Đọc dữ liệu từ file Excel

In [2]:
import pandas as pd
import numpy as np
df=pd.read_excel('house_price_dống-da.xlsx')
display(df)

C:\Users\admin\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,title,address,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,type_of_land,street_name,ward_name,district_name,city_name,lat,long
0,Bán nhà Trần Quang Diệu mới coong đẹp 50m2x6 t...,"Đường Trần Quang Diệu, Phường Trung Liệt, Đốn...",50.0,14700.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,6.0,6.0,Bán nhà riêng\n,Đường Trần Quang Diệu,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.015698,105.824583
1,Bán nhà mặt phố Tây Sơn - 6 tầng. Kinh doanh t...,"Đường Tây Sơn, Phường Trung Liệt, Đống Đa, Hà...",35.0,12500.0,2021-02-19,Sổ đỏ,NaN,NaN,NaN,NaN,6.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.008930,105.824105
2,Bán nhà số 36 Đoàn Kết - phố Khâm Thiên - Đống...,"Số 36 Đoàn Kết, Phố Khâm Thiên, Phường Thổ Qu...",57.0,4200.0,2021-03-10,Sổ đỏ,Nam,Nam,3.0,8.0,4.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.025208,105.833111
3,Bán nhà 6 tầng mới kinh doanh mặt ngõ 1194 Đườ...,"Ngõ 1194, Đường Láng, Phường Láng Thượng, Đố...",62.0,11000.0,2021-03-13,Sổ đỏ,Đông,Đông-Nam,6.0,5.0,6.0,Bán nhà riêng\n,Đường Láng Thượng,Phường Láng Thượng,Quận Đống Đa,Thành phố Hà Nội,21.025379,105.801011
4,"Bán nhà mặt phố Thái Hà 70m2, 5 tầng, 4.5m mặt...","Phố Thái Hà, Phường Trung Liệt, Đống Đa, Hà Nội",70.0,36000.0,2021-03-13,Sổ đỏ,NaN,NaN,NaN,6.0,5.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.009239,105.824230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"Bán nhà mặt phố Yên Lãng, Đống Đa, 65m2, 5T, 1...","Đường Yên Lãng, Phường Láng Hạ, Đống Đa, Hà...",65.0,17500.0,2021-05-09,Sổ đỏ,NaN,NaN,NaN,6.0,5.0,Bán nhà mặt phố\n,Đường Yên Lãng,Phường Láng Hạ,Quận Đống Đa,Thành phố Hà Nội,21.011495,105.816666
996,"Bán nhà 5 tầng đep MP Yên Lãng giá rẻ, DT 60m2...","Đường Yên Lãng, Phường Trung Liệt, Đống Đa, ...",60.0,17500.0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.011495,105.816666
997,MẶT PHỐ XÃ ĐÀN - KINH DOANH ĐỈNH CAO - 6 TẦNG ...,"Phố Xã Đàn, Phường Ô Chợ Dừa, Đống Đa, Hà Nội",45.0,24800.0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Bán nhà mặt phố\n,Đường Ô Chợ Dừa,Phường Ô Chợ Dừa,Quận Đống Đa,Thành phố Hà Nội,21.016106,105.832157
998,"Bán nhà mặt hồ Văn Chương, Đống Đa 33m2, 6 tần...","Hồ Văn Chương, Phường Văn Chương, Quận Đống Đa...",178.0,8100.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,3.0,NaN,Bán nhà riêng,Đường Hồ Văn Chương,Phường Văn Chương,Quận Đống Đa,Thành phố Hà Nội,21.021345,105.833122
999,"Bán nhà 5 tầng MP Chùa Bộc hạ giá sốc, tử 58,6...","Phố Chùa Bộc, Phường Khương Thượng, Đống Đa, ...",107.0,45000.0,2021-05-09,Sổ đỏ,NaN,NaN,NaN,NaN,5.0,Bán nhà mặt phố\n,Phố Khương Thượng,Phường Khương Thượng,Quận Đống Đa,Thành phố Hà Nội,21.009123,105.824428

# 3. Đọc dữ liệu từ file Json

In [8]:
df = pd.read_json('demo_FoodPrice.json')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

# 4. Đọc dữ liệu từ file hdf5

In [9]:
df=pd.read_hdf('demo_FoodPrice.h5', 'table')
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

# 5. Đọc dữ liệu từ file html

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_North_America'
df = pd.read_html(url)
df[0].head()

,Flag,Map,"English short, formal names, and ISO[1][2][3][4]",Domestic short and formal name(s)[1][2],Capital[3][5][6],Population 2021[7][8],Area[9],Currency[3]
0,NaN,NaN,Antigua and Barbuda[n 1]ATG,English: Antigua and Barbuda,St. John's,93219,442.6 km2 (171 sq mi),East Caribbean dollar
1,NaN,NaN,"Bahamas, The[n 1]Commonwealth of The BahamasBHS",English: The Bahamas—Commonwealth of The Bahamas,Nassau,407906,"13,940 km2 (5,382 sq mi)",Bahamian dollar
2,NaN,NaN,Barbados[n 1]BRB,English: Barbados,Bridgetown,281200,431 km2 (166 sq mi),Barbadian dollar
3,NaN,NaN,Belize[n 1][n 2]BLZ,English: Belize,Belmopan,400031,"22,966 km2 (8,867 sq mi)",Belize dollar
4,NaN,NaN,Canada[n 3]CAN,English: CanadaFrench: Canada,Ottawa,38155012,"9,984,670 km2 (3,855,103 sq mi)",Canadian dollar